# Development packages that are used directly.
numpy==1.16.2
pandas==0.24.2
matplotlib==3.0.3
jupyter==1.0.0
librosa==0.6.3
tqdm==4.31.1
requests==2.21.0
Flask==1.0.2
pytest==4.3.1

# Packages that are not used directly but influence the build process significantly.
numba==0.43.1        # Requires an exact version of llvmlite
llvmlite==0.28.0     # Requires an exact version of LLVM
scipy==1.1.0         # Newer versions require symbols from newer ATLAS/LAPACK libraries at runtime
